:root {
    --color-primario: #09090b;
    --gris-clarito: #39393b;
    --azul-sombra: #1f89b0;
}

html {
    scroll-behavior: smooth;
}

#main-añadirEjercicio {
    display: flex;
    align-items: flex-start;
    padding: 2rem 3.5rem 0 3.5rem;    
    gap: 2rem;
}

#article-añadirEjercicio {
    min-width: 25%;
    border: var(--bordes) 1px solid;
    padding: 1.5rem;
    border-radius: 10px;
}

#article-añadirEjercicio h1 {
    font-size: 2rem;
}

#article-añadirEjercicio p {
    color: #9797a0;
    margin-bottom: 2rem;
}

#form-ejercicio {
    display: flex;
    flex-direction: column; 
    gap: .75rem;
}

#form-ejercicio input {
    width: 100%;
    padding: .6rem;
    color: white;
    background-color: transparent;
    border: var(--bordes) 1px solid;
    border-radius: 7px;
    margin-bottom: 5px;
}

#form-ejercicio select {
    width: 100%;
    padding: .6rem;
    color: white;
    background-color: transparent;
    border: var(--bordes) 1px solid;
    border-radius: 7px;
    margin-bottom: 5px;
    cursor: pointer;
}

#form-ejercicio select:focus {
    outline: none;
    border-color: #e1e1e1;
}

#form-ejercicio option {
    background-color: var(--color-primario);
    color: white;
    padding: .5rem;
    font-size: medium;
}

#form-ejercicio select::-webkit-scrollbar {
    width: 7px;
}

#form-ejercicio select::-webkit-scrollbar-track {
    background-color: var(--gris-clarito);
}

#form-ejercicio select::-webkit-scrollbar-thumb {
    background-color: #69696d;
    border-radius: 10px;
}


#form-ejercicio button {
    background-color: white;
    width: 100%;
    padding: .6rem;
    border: none;
    border-radius: 7px;
    color: black;
    font-size: medium;
    font-weight: bold;
    transition: all 300ms linear;
    cursor: pointer;
}

#form-ejercicio button:hover {
    background: #e1e1e1;
}

.ejercicios {
    width: 100%;
    margin-right: 2rem;
}

.ejercicios div{
    margin-bottom: 1rem;
}

.ejercicios div h1{
    text-align: center;
}

.ejercicios ul li {
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-ejercicio {
    border: var(--bordes) 1px solid;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    transition: all 200ms linear;
}

.card-ejercicio:hover {
    box-shadow: 0px 5px 8px var(--azul-sombra);
    transform: translateY(-5px);
}

#boton-svg {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: .25rem;
    transition: all 200ms linear;
    border-radius: 4px;
}

#boton-svg:hover {
    background-color: rgb(255, 193, 193);
}

#boton-svg:hover svg {
    stroke: rgb(255, 33, 33);
}

@media (max-width: 600px) {
    #main-añadirEjercicio {
        display: flex;
        flex-direction: column;
    }

    #article-añadirEjercicio {
        min-width: 100%;
    }
}