:root {
    --color-primario: #09090b;
    --gris-clarito: #39393b;
    --azul-sombra: #1f89b0;
}

#main-entreno {
    padding: 1rem;
}

#registro-entreno {
    min-width: 25%;
    border: var(--bordes) 1px solid;
    padding: 1.5rem;
    border-radius: 10px;
}

#form-entreno {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

#form-entreno input {
    width: 100%;
    padding: .6rem;
    color: white;
    background-color: transparent;
    border: var(--bordes) 1px solid;
    border-radius: 7px;
}

#form-entreno input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#form-entreno textarea {
    height: 6rem;
    background: var(--color-primario);
    color: white;
    border-radius: 7px;
}

#form-entreno button {
    background-color: white;
    width: 100%;
    padding: .6rem;
    border: none;
    border-radius: 7px;
    color: black;
    font-size: medium;
    font-weight: bold;
    transition: all 300ms linear;
    cursor: pointer;
    margin-bottom: 1rem;
}

#form-entreno button:hover {
    background: #e1e1e1;
}

@media (max-width: 600px) {
    #form-entreno input[type="date"] {
        padding-right: 0;
    }
}