:root {
    --color-primario: #09090b;
    --gris-clarito: #39393b;
}

#main-añadirEjercicio {
    padding: 1rem;    
    gap: 1rem;
}

#article-añadirEjercicio {
    border: var(--bordes) 1px solid;
    padding: 1.5rem;
    border-radius: 10px;
}

#article-añadirEjercicio h1 {
    font-size: 2rem;
}

#article-añadirEjercicio p {
    color: #9797a0;
    margin-bottom: 2rem;
}

#form-ejercicio {
    display: flex;
    flex-direction: column; 
    gap: .75rem;
}

#form-ejercicio input {
    width: 100%;
    padding: .6rem;
    color: white;
    background-color: transparent;
    border: var(--bordes) 1px solid;
    border-radius: 7px;
    margin-bottom: 5px;
}

#form-ejercicio button {
    background-color: white;
    width: 100%;
    padding: .6rem;
    border-radius: 7px;
    color: black;
    font-size: medium;
    font-weight: bold;
    transition: all 300ms linear;
    cursor: pointer;
}

#form-ejercicio button:hover {
    background: #e1e1e1;
}