{% extends 'gymApp/base.html' %}

{% block header %}
    <header class="header-noprincipal">
        <a href="{% url 'principal' %}">
            <h1>GymTracker</h1>
        </a>

        <div class="lista-enlaces">
            <a href="{% url 'anadirEjercicio' %}">Ejercicios</a>
            <a href="{% url 'registrarEntreno' %}">Registrar entreno</a>
            
            {% if user.is_authenticated %}
                    <a class="open_submenu">Perfil</a>

                    <div class="submenu">
                        <ul>
                            <li><a href="#" class="enlaces-desplegable">Ver perfil</a></li>
                            
                            <li>
                                <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %} 
                                <button type="submit" class="">Cerrar sesión</button>
                            </li>
                            </form>
                        </ul>
                    </div>
            {% else %}
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                    <a href="{% url 'registroUsuario' %}">Registrate</a>
            {% endif %}
        </div>

    </header>
{% endblock %}

{% block contenido %}
<main id="main-añadirEjercicio">
    <article id="article-añadirEjercicio">
        <h1>Añadir un nuevo Ejercicio</h1>
        <p>Crea un ejercicio personalizado para tu rutina</p>

        <form action="" method="post" id="form-ejercicio">
            {% csrf_token %} 
            <input type="hidden" name="accion" value="crear">
            <label for="nombre">Nombre del ejercicio</label>
            {{form.nombre}}
            <label for="musculos">Musculos trabajados</label>
            {{form.musculos}}
            <label for="visibilidad">Visibilidad</label>
            {{form.visibilidad}}
            <button type="submit" class="">Agregar</button>
            
            {% if form.errors %}
                <div class="error">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </article>

    <section class="ejercicios">
        {% if messages %}
            {% for message in messages %}
                <div class="message-success">
                    <p id="mensaje">{{ message }}</p>

                    <button id="botonCerrar">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        <div>
            <h1>Ejercicios</h1>
        </div>
        <ul>
            {% for ejercicio in ejerciciosMostar %}
                <article class="card-ejercicio">
                    <li>{{ ejercicio.nombre }}
                        
                            <a href="{% url 'borrarEjercicio' pk=ejercicio.pk %}" id="boton-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 7l16 0" />
                                    <path d="M10 11l0 6" />
                                    <path d="M14 11l0 6" />
                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                </svg>
                            </a>
                    </li>
                </article>
            {% endfor %}
        </ul>

        <div class="pagination">
            {% if ejerciciosMostar.has_previous %}
                <a href="?page=1">Primero</a>
                <a href="?page={{ ejerciciosMostar.previous_page_number }}">Anterior</a>
            {% endif %}
        
            <span>Página {{ ejerciciosMostar.number }} de {{ ejerciciosMostar.paginator.num_pages }}</span>
        
            {% if ejerciciosMostar.has_next %}
                <a href="?page={{ ejerciciosMostar.next_page_number }}">Siguiente</a>
                <a href="?page={{ ejerciciosMostar.paginator.num_pages }}">Último</a>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}