{% extends 'gymApp/base.html' %}

{% block header %}
    <header class="header-noprincipal">
        <a href="{% url 'principal' %}">
            <h1>GymTracker</h1>
        </a>
        
        <div>
            <a href="{% url 'anadirEjercicio' %}">Ejercicios</a>
            <a href="{% url 'registrarEntreno' %}">Registrar entreno</a>
            <a>Perfil</a>
            
            {% if user.is_authenticated %}
                <p>¡Bienvenido, {{ user.username }}!</p>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %} 
                    <button type="submit" class="">Cerrar Sesión</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
        </div>

    </header>
{% endblock %}

{% block contenido %}
<main id="main-añadirEjercicio">
    <article id="article-añadirEjercicio">
        <h1>Añadir un nuevo Ejercicio</h1>
        <p>Crea un ejercicio personalizado para tu rutina</p>

        <form action="" method="post" id="form-ejercicio">
            {% csrf_token %} 
            <input type="hidden" name="accion" value="crear">
            <label for="nombre">Nombre del ejercicio</label>
            {{form.nombre}}
            <label for="musculos">Musculos trabajados</label>
            {{form.musculos}}
            <label for="visibilidad">Visibilidad</label>
            {{form.visibilidad}}
            <button type="submit" class="">Agregar</button>
        </form>

        {% if existeEjercicio %}
            <p>El ejercicio ya existe</p>
        {% endif %}
    </article>

    <section class="ejercicios">
        <div>
            <h1>Ejercicios</h1>
        </div>
        <ul>
            {% for ejercicio in ejercicios %}
                <article class="card-ejercicio">
                    <li>{{ ejercicio.nombre }}
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="accion" value="eliminar">
                            <input type="hidden" name="ejercicio_id" value="{{ ejercicio.id }}">

                            <button type="submit" id="boton-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 7l16 0" />
                                    <path d="M10 11l0 6" />
                                    <path d="M14 11l0 6" />
                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                </svg>
                            </button>
                        </form>
                    </li>
                </article>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}