{% extends 'gymApp/base.html' %}

{% block header %}
    <header class="header-noprincipal">
        <a href="{% url 'principal' %}">
            <h1>GymTracker</h1>
        </a>
        
        <div>
            <a href="{% url 'añadirEjercicio' %}">Ejercicios</a>
            <a href="{% url 'registrarEntreno' %}">Registrar entreno</a>
            <a>Perfil</a>
            
            {% if user.is_authenticated %}
                <p>¡Bienvenido, {{ user.username }}!</p>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %} 
                    <button type="submit" class="">Cerrar Sesión</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
        </div>

    </header>
{% endblock %}

{% block contenido %}
<main id="main-añadirEjercicio">
    <article id="article-añadirEjercicio">
        <h1>Añadir un nuevo Ejercicio</h1>
        <p>Crea un ejercicio personalizado para tu rutina</p>

        <form action="" method="post" id="form-ejercicio">
            {% csrf_token %} 
            <label for="nombre">Nombre del ejercicio</label>
            {{form.nombre}}
            <label for="musculos">Musculos trabajados</label>
            {{form.musculos}}
            <label for="visibilidad">Visibilidad</label>
            {{form.visibilidad}}
            <button type="submit" class="">Agregar</button>
        </form>

        {% if existeEjercicio %}
            <p>El ejercicio ya existe</p>
        {% endif %}
    </article>

        <ul>
            {% for ejercicio in ejercicios %}
                <li>{{ejercicio.nombre}}</li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}