{% extends 'gymApp/base.html' %}

{% block header %}
    <header>
        <h1>GymApp 2</h1>

        <div>
            <a href="{% url 'bloques' %}">Bloques</a>
            <a>Perfil</a>
            <a>Inicio</a>
        </div>
    </header>
{% endblock %}

{% block contenido %}
    <section class="seccion-bloques">
        <article id="cabecera">
            <h1>Bloques</h1>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
            </svg>
        </article>

        <ul>
            {% for bloque in listaBloques %}
                <li>
                    <a>{{bloque.nombre}}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}

{% block footer %}
    <footer>
        fgohbfdsh
    </footer>
{% endblock %}