{% extends 'gymApp/base.html' %}

{% block header %}
    <header class="header-noprincipal">
        <a href="{% url 'principal' %}">
            <h1>GymTracker</h1>
        </a>

        <div class="lista-enlaces">
            <a href="{% url 'anadirEjercicio' %}">Ejercicios</a>
            <a href="{% url 'registrarEntreno' %}">Registrar entreno</a>
            
            {% if user.is_authenticated %}
                    <a class="open_submenu">Perfil</a>

                    <div class="submenu">
                        <ul>
                            <li><a href="{% url 'perfilUsuario' pk=request.user.pk %}" class="enlaces-desplegable">Ver perfil</a></li>
                            
                            <li>
                                <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %} 
                                <button type="submit" class="">Cerrar sesión</button>
                            </li>
                            </form>
                        </ul>
                    </div>
            {% else %}
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                    <a href="{% url 'registroUsuario' %}">Registrate</a>
            {% endif %}
        </div>

    </header>
{% endblock %}

{% block contenido %}
    <main class="main-perfil">
        <section class="card-perfil">
            <div class="info-usuario">
                <h2>{{ user.username }}</h2>
                <p>Resumen de tu actividad</p>
            </div>

            <article class="estadisticas">
                <article class="card">
                    <div class="titulo-card">
                        <h2>Total entrenamientos</h2>
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-barbell"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M2 12h1" /><path d="M6 8h-2a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h2" /><path d="M6 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z" /><path d="M9 12h6" /><path d="M15 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z" /><path d="M18 8h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2" /><path d="M22 12h-1" /></svg>
                    </div>
                    <h2>{{ totalEntrenos }}</h2>
                </article>

                <article class="card">
                    <div class="titulo-card">
                        <h2>Total ejercicios</h2>
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-timeline"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 16l6 -7l5 5l5 -6" /><path d="M15 14m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M10 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M4 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M20 8m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
                    </div>
                    <h2>{{ totalEjercicios }}</h2>
                </article>

                <article class="card">
                    <div class="titulo-card">
                        <h2>Peso total levantado</h2>
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-weight"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M6.835 9h10.33a1 1 0 0 1 .984 .821l1.637 9a1 1 0 0 1 -.984 1.179h-13.604a1 1 0 0 1 -.984 -1.179l1.637 -9a1 1 0 0 1 .984 -.821z" /></svg>
                    </div>
                    <h2>{{ totalPesoLevantado }} kg</h2>
                </article>
            </article>
        </section>
    </main>
{% endblock %} 